body {
  margin-top: 10px;
}

.btn-primary.wd-override-tweet-btn {
  border-radius: 50px;
  margin-top: 10px;
  width: 100%;
  min-width: 75%;
  table-layout: fixed;
}

.wd-left-bar {
  white-space: nowrap;
}

.wd-verify-search {
  width: 75%;
  max-width: 90%;
  padding: 8px 40px;
  margin-bottom: 10px;
  border-radius: 40px;
  border-style: none;
  background-color: white;
}

.wd-search-icon-format {
  position: relative;
  left: 35px;
  margin-left: -20px;
}

.wd-gear-icon-format {
  float: right;
  padding: 15px;
  margin-right: -15px;
}

.wd-image-caption {
  position: absolute;
  color: darkslategrey;
  bottom: 0;
  left: 1%;
}

.wd-posts-images {
  display: inline;
  float: right;
  vertical-align: middle;
  width: 90px;
  height: 90px;
  border-radius: 10px;
  padding: 0;
}

.btn-primary.wd-format-follow {
  float: right;
  border-radius: 50px;
  margin-top: 5px;
}

.wd-follow-logo {
  display: inline;
  float: left;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  margin-right: 20px;
}

.list-group {
  margin-top: 10px;
}

.wd-override-more {
  font-size: 8px;
  margin-left: 0;
}

.wd-override-more i {
  margin-left: -2px;
}

.wd-color-dots {
  color: black;
}

.wd-handle {
  margin-bottom: 0;
}

.wd-topic {
  margin-bottom: 0;
}

.wd-tweets {
  margin-bottom: 0;
}

.wd-account {
  margin-bottom: 0;
}

.wd-content {
  margin-bottom: 0;
}

.wd-navigation-bar {
  margin-bottom: 10px;
}

.wd-spacex-override {
  border-radius: 0;
}

.wd-tweets {
  font-size: 15px;
}

.wd-verify-check {
  font-size: 5px;
}

.wd-check-mark {
  color: black;
}