.wd-tabs li {
  display: inline;
}

.wd-tabs {
  padding-left: 0px;
}

.wd-selected {
  border-bottom: 2px #0000ff solid;
  padding-bottom: 20px;
}

.wd-nudge-up {
  bottom: 18px;
  left: 25px;
}

.wd-bottom-2 {
  bottom: 2px;
}

.wd-bottom-4 {
  bottom: 4px;
}

.wd-tuit-button {
  width: 100%;
}

.wd-nav-sidebar {
  padding-bottom: 10px;
}

.wd-verified {
  color: rgb(14,109,253);
}

.wd-stats {
  list-style-type: none;
}

.wd-home-link {
  text-decoration: none;
  color: black;
}

.wd-home-link-selected {
  text-decoration: none;
  color: white;
}

.wd-explore-link {
  text-decoration: none;
  color: black;
}

.wd-explore-link-selected {
  text-decoration: none;
  color: white;
}

.wd-liked-heart {
  color: red;
}