body {
    margin-top: 10px;
}

.list-group {
    margin-top: 10px;
}

.btn-primary.wd-override-tweet-btn {
    border-radius: 50px;
    margin-top: 10px;
    width: 100%;
    min-width: 75%;
    table-layout: fixed;
}

.wd-left-bar {
    white-space: nowrap;
}

.wd-override-search {
    border-radius: 50px;
    border-style: none;
    width: 75%;
    max-width: 90%;
    padding: 8px 40px;
    margin-bottom: 10px;
    background-color: white;
}

.wd-override-search-icon {
    position: relative;
    left: 35px;
    margin-left: -20px;
}

.wd-override-gear {
    float: right;
    padding: 15px;
    margin-right: -15px;
}

.wd-navbar {
margin-bottom: 10px;
}

.wd-spacex-override {
    border-radius: 0;
}

.wd-tweets {
    font-size: 15px;
}

.wd-override-check {
    font-size: 7px;
}

.wd-check-mark {
    color: black;
}

.wd-override-more {
    font-size: 8px;
    margin-left: 0;
}

.wd-override-more i {
    margin-left: -2px;
}

.wd-dots {
    color: black;
}

.wd-picture-caption {
    position: absolute;
    bottom: 0;
    left: 1%;
    color: white;
}

.wd-topic {
    margin-bottom: 0;
}

.wd-account {
    margin-bottom: 0;
}

.wd-content {
    margin-bottom: 0;
}

.wd-tweets {
    margin-bottom: 0;
}

.wd-tweet-photos {
    display: inline;
    float: right;
    width: 90px;
    height: 90px;
    vertical-align: middle;
    border-radius: 10px;
    padding: 0;
}

.wd-handle {
    margin-bottom: 0;
}

.btn-primary.wd-override-follow {
    border-radius: 50px;
    float: right;
    margin-top: 5px;
}

.wd-follow-logo {
    display: inline;
    float: left;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    border-radius: 50px;
    margin-right: 20px;
}