body{
    font-family: "Apple Braille", system-ui;
    background-color: black;
    color: white;
}
.navigation-border {
    border-color: rgb(47, 51, 54);
    border-top-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 1px;
    padding-top: 12px;
    margin-left: 16px;
    margin-right: 16px;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.float-clear {
    clear: both;
}
.margin-left {
    margin-left: 16px;
}
.fg-color-light-gray {
    color: lightgray;
}