.container {
    position: relative;
    text-align: left;
    color: white;
    font-size: 30px;
}

.wd-photo-comment {
    position: absolute;
    bottom: 8px;
    left: 30px;
}

.fa-search {
    position: absolute;
}

input[type="text"] {
    padding-left: 40px;
}

.wd-float-right {
    float: right;
    position: relative
}
.wd-float-left {
    float: left;
    position: relative;
}
.wd-float-done {
    clear: both;
}
.wd-circle-icon {
    border-radius: 50%;
    background-color: black;
}
.wd-main-content-icon {
    border-radius: 20%;
    width: 90px;
}
.wd-img-shape {
    border-radius: 50%;
    width: 50px;
}
.wd-fg-grey{
    color: gray;
}






